.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
  /* scroll view */
  padding-top: 3rem;
}
/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    margin-left: 6vmin;
    gap: 5rem;
    height: 76rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
}
@media screen and (min-width: 769px) and (max-width: 1460px) {
  .services {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    height: 76rem; /* Adjust height as needed */
    padding: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    row-gap: 20rem;
  }

  .cards > * {
    position: static; /* Ensure cards flow in the grid */
  }
}


.iframe-responsive {
  width: 80vmin;
  height: 100vmin;
  border: none;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .iframe-responsive {
    height: fit-content;
    width: fit-content;
  }
}
