.achievements-section {
    padding: 20px;
  }
  
  
  .achievement-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .achievement-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .achievement-card:hover .overlay {
    transform: translateY(0);
  }
  
  .card-content {
    position: relative;
    z-index: 1;
  }
  
  .card-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .card-details {
    font-size: 0.7rem;
  }


  /* AchievementsSection.css */

/* Slider pagination bullets */
.slick-dots li button:before {
  color: var(--gray); /* Color for inactive bullets */
  font-size: 12px; /* Adjust size if needed */
}

.slick-dots li.slick-active button:before {
  color: var(--orange); /* Color for active bullets */
}

.achievements-section {
  position: relative;
}

.achievements-section .slick-prev,
.achievements-section .slick-next {
  color: var(--orange); /* Arrow color */
  border-color: var(--orange); /* Arrow border color */
}

/* Ensure bullets are visible on dark background */
.slick-dots {
  position: absolute;
  bottom: -25px; /* Adjust this value if needed */
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px; /* Adjust spacing between dots */
}

.slick-dots li button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  content: '•'; /* Use a dot character */
  font-size: 20px; /* Adjust size if needed */
  line-height: 1;
}

  